@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: 100px 200px 400px;
  grid-template-rows: 200px 150px 100px;
  /* grid-column-gap: 50px;
  grid-row-gap: 20px; */
  gap: 40px 100px;
}
